body
{
    background-color: #333;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px;
}
@media screen and (max-width: 768px)
{
    body
    {
        background-color: #f00;
    };
}
@media screen and (min-width: 769px) and (max-width: 1024px)
{
    body
    {
        background-color: #0f0;
    }
}
@media screen and (min-width: 1025px)
{
    body
    {
        background-color: #00f;
    }
}